.header_container{
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 22px;
  font-weight: 600;
  color: var(--text);
}
.menu_list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.menu_link {
  position: relative;
  display: inline-block;
  padding: 6px 8px;

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
}
.menu_active{
  border-bottom: 1px solid var(--border-color);
}
