.input {
  width: 100%; 
  padding: 10px 12px;
  margin-right: 10px;

  background: transparent;
  color: var(--text);

  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px var(--bs-black-03) inset;

  outline: none;
}

.input::placeholder {
  color: var(--text-muted);
}

input::selection{
  background: var(--text-selected);
  color: var(--text-inverse);
}

.input:focus {
background: var(--bg-1);
}

.input:not(:placeholder-shown) {
background: var(--bg-1);
}

.input-div{ 
display: flex;
width: 100%;
max-width: 700px;
}